# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
pids/
*.pid
*.seed

# Runtime data
*.tsbuildinfo
dist/
build/


# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
